<li><a href="{{ site.root }}intro.html">A Quick Introduction to BlueEyes</a></li>
<li><a href="{{ site.root }}setup.html">Setting up a BlueEyes Project</a></li>
<li><a href="{{ site.root }}request-handlers.html">Building Request Handlers</a></li>
<ul>
<li><a href="{{ site.root }}request-handlers/bijections.html">Requests, Responses, and Bijections</a></li>
<li><a href="{{ site.root }}request-handlers/service-combinators.html">Service Combinators</a></li>
</ul>
<li><a href="{{ site.root }}running.html">Running Services</a></li>
<li><a href="{{ site.root }}concurrency.html">BlueEyes' Concurrency Model</a></li>
<li><a href="{{ site.root }}http-client.html">Consuming REST Services</a></li>
<li><a href="{{ site.root }}testing.html">Testing BlueEyes Services</a></li>
<li><a href="{{ site.root }}json.html">Manipulating JSON</a></li>
<li><a href="{{ site.root }}mongo.html">Working with Mongo</a></li>
<li><a href="{{ site.root }}streaming.html">Streaming Requests and Responses</a></li>
<li><a href="{{ site.root }}deployment.html">Deploying Services in Production</a></li>
